* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.container {
  width: 100%;
  clear: both;
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(89, 96, 203, 0.32)), color-stop(50%, #fff));
  background: linear-gradient(to bottom, rgba(89, 96, 203, 0.32) 50%, #fff 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.container nav .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: 100%;
  width: 100%;
}

.container nav .title-box h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.1em;
}

.container nav .title-box h3:first-of-type {
  font-size: 1em;
}

.container nav .title-box h3 a {
  text-decoration: none;
  text-align: center;
  line-height: 1.1em;
  color: #1E262D;
}

.container nav .title-box h3 a:active > i {
  color: #1E262D;
}

.container nav .title-box h3 a > i {
  margin-right: 16px;
}

.container .cart-main {
  width: 100%;
  clear: both;
  min-height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  overflow-x: hidden;
  position: relative;
  top: 75px;
  left: 0;
}

.container .cart-main .cart-container {
  width: 100%;
  max-width: calc(768px - 32px);
  clear: both;
  min-height: 425px;
  padding: 32px 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 7px 7px 100px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 100px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: #fff;
  margin: 16px;
}

.container .cart-main i {
  font-size: 5em;
  color: #889299;
  margin-bottom: 16px;
  display: none;
}

.container .cart-main h4 {
  font-family: 'overpass', sans-serif;
  font-weight: 400;
  color: #717171;
  margin-bottom: 32px;
  display: none;
}

.container .cart-main h2 {
  width: 100%;
  clear: both;
  text-align: center;
  margin-bottom: 16px;
  font-size: 1em;
  font-weight: 400;
  color: #717171;
}

.container .cart-main h2:first-of-type {
  color: #2192D9;
  font-weight: 500;
  font-size: 1.5em;
}

.container .cart-main .btn {
  width: 100%;
  max-width: 400px;
  clear: both;
  padding: 4px 0;
  background-color: #fe6047;
  border-radius: 40px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .cart-main .btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: rgba(254, 96, 71, 0.8);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container .cart-main .btn a {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.container .cart-main .log-in {
  background-color: #fff;
  border: 2px solid #fe6047;
  margin-bottom: 48px;
}

.container .cart-main .log-in:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container .cart-main .log-in a {
  color: #fe6047;
}

.container .cart-main hr {
  color: #889299;
  width: 100%;
  max-width: 400px;
}

.container .cart-main p {
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  color: #889299;
  background-color: #fff;
  padding: 0 8px;
}

.container .cart-main .social-icons {
  position: relative;
  top: 8px;
  left: 0;
  width: 100%;
  max-width: 400px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 16px;
}

.container .cart-main .social-icons .fb, .container .cart-main .social-icons .g, .container .cart-main .social-icons .in, .container .cart-main .social-icons .tw {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container .cart-main .social-icons .fb i, .container .cart-main .social-icons .g i, .container .cart-main .social-icons .in i, .container .cart-main .social-icons .tw i {
  font-size: 25px;
  display: block;
  margin-bottom: 0;
}

.container .cart-main .social-icons .fb a, .container .cart-main .social-icons .g a, .container .cart-main .social-icons .in a, .container .cart-main .social-icons .tw a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.container .cart-main .social-icons .fb:first-of-type > i, .container .cart-main .social-icons .g:first-of-type > i, .container .cart-main .social-icons .in:first-of-type > i, .container .cart-main .social-icons .tw:first-of-type > i {
  color: #3B5998;
}

.container .cart-main .social-icons .fb:nth-of-type(2) > img, .container .cart-main .social-icons .g:nth-of-type(2) > img, .container .cart-main .social-icons .in:nth-of-type(2) > img, .container .cart-main .social-icons .tw:nth-of-type(2) > img {
  width: 24px;
  height: 24px;
}

.container .cart-main .social-icons .fb:nth-of-type(3) > i, .container .cart-main .social-icons .g:nth-of-type(3) > i, .container .cart-main .social-icons .in:nth-of-type(3) > i, .container .cart-main .social-icons .tw:nth-of-type(3) > i {
  color: #00acee;
}

.container .cart-main .social-icons .fb:last-of-type > i, .container .cart-main .social-icons .g:last-of-type > i, .container .cart-main .social-icons .in:last-of-type > i, .container .cart-main .social-icons .tw:last-of-type > i {
  color: #0e76a8;
}

@media screen and (min-width: 768px) {
  .container nav .title-box h3 {
    font-size: 1.5em;
  }
  .container nav .title-box h3:first-of-type {
    font-size: 1.2em;
  }
  .container .cart-main .cart-container h2 {
    font-size: 1.7em;
  }
  .container .cart-main .cart-container h2:nth-of-type(2) {
    font-size: 1.1em;
  }
  .container .cart-main .cart-container .btn {
    padding: 8px 0;
  }
  .container .cart-main .cart-container .sign-up a, .container .cart-main .cart-container .log-in a {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=cart-nsi.css.map */