* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  clear: both;
  min-width: 708px;
  max-width: 1440px;
}

.container .pricing-section {
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 64px 32px;
}

.container .pricing-section .grid {
  margin-bottom: 64px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[minmax];
      grid-template-columns: repeat(minmax(900px, auto));
  grid-auto-rows: repeat(55px, auto);
}

.container .pricing-section .grid .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
}

.container .pricing-section .grid .line .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 3);
  clear: both;
}

.container .pricing-section .grid .line .cell p {
  font-family: 'Overpass',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #000;
  width: 100%;
  text-align: center;
  padding: 8px 32px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.container .pricing-section .grid .line .cell .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
}

.container .pricing-section .grid .line .cell .box h2 {
  font-family: 'Overpass',sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  color: #474C90;
  margin-bottom: 8px;
}

.container .pricing-section .grid .line .cell .box p:first-of-type {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #474C91;
  text-align: center;
}

.container .pricing-section .grid .line .cell .box p:nth-of-type(2) {
  color: #FE6047;
  font-family: 'Overpass',sans-serif;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.container .pricing-section .grid .line .cell .box p:nth-of-type(3) {
  font-family: 'Overpass',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

.container .pricing-section .grid .line .cell .box .select-plan {
  background-color: rgba(89, 96, 203, 0.08);
  border: 2px solid #5960CB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  padding: 8px 16px;
}

.container .pricing-section .grid .line .cell .box .select-plan a {
  text-decoration: none;
  color: #5960CB;
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.container .pricing-section .grid .line .cell .box .select-plan:hover {
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .pricing-section .grid .line .cell span {
  font-family: 'Overpass',sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: #000;
}

.container .pricing-section .grid .line .cell i {
  color: #29B900;
  font-size: 1em;
}

.container .pricing-section .grid .line .cell:first-of-type {
  border-right: 1px solid #C4C4C4;
}

.container .pricing-section .grid .line .cell:first-of-type p {
  text-align: left;
}

.container .pricing-section .grid .line .cell:first-of-type p:nth-of-type(1) span,
.container .pricing-section .grid .line .cell:first-of-type p:nth-of-type(9) span,
.container .pricing-section .grid .line .cell:first-of-type p:nth-of-type(13) span,
.container .pricing-section .grid .line .cell:first-of-type p:nth-of-type(16) span {
  font-weight: 700;
}

.container .pricing-section .grid .line .cell:nth-of-type(2) {
  border-right: 1px solid #C4C4C4;
}

.container .pricing-section .grid .line:first-of-type .cell {
  border: none;
}

.container .pricing-section .grid .line:first-of-type .cell:first-of-type {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .pricing-section .grid .line:first-of-type .cell:first-of-type p {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 53px;
  color: #1E262D;
  text-align: left;
  min-width: unset;
}

.container .pricing-section .grid .line:first-of-type .cell:nth-of-type(2) p, .container .pricing-section .grid .line:first-of-type .cell:nth-of-type(3) p {
  padding: unset;
  margin-bottom: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .pricing-section .grid .line:first-of-type .cell:nth-of-type(2) p:nth-of-type(2),
.container .pricing-section .grid .line:first-of-type .cell:nth-of-type(3) p:nth-of-type(2) {
  margin-bottom: unset;
}

.container .pricing-section .grid .line:nth-of-type(2), .container .pricing-section .grid .line:nth-of-type(10), .container .pricing-section .grid .line:nth-of-type(14), .container .pricing-section .grid .line:nth-of-type(17) {
  background: rgba(229, 229, 229, 0.5);
}

.container .pricing-section .grid .line:last-of-type {
  border: none;
}

.container .pricing-section .grid .line:last-of-type .cell {
  border: none;
  margin-top: 16px;
}

.container .pricing-section small {
  font-family: 'Overpass',sans-serif;
  font-weight: normal;
}

.container .pricing-section small a {
  color: blue;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .container .pricing-section {
    padding: 64px 120px;
  }
  .container .pricing-section .grid .line:first-of-type .cell:first-of-type p {
    font-size: 2em;
  }
  .container .pricing-section .grid .line .cell .box h2 {
    font-size: 2em;
    font-weight: 600;
  }
  .container .pricing-section .grid .line .cell .box p:first-of-type {
    font-size: 1.5em;
  }
  .container .pricing-section .grid .line .cell .box p:nth-of-type(2) {
    font-size: 2em;
  }
  .container .pricing-section .grid .line .cell .box p:nth-of-type(3) {
    font-size: 1em;
  }
  .container .pricing-section .grid .line .cell .box .select-plan a {
    font-size: 1.1em;
  }
}
/*# sourceMappingURL=supplier-pricing.css.map */