$color1: #fe6047;
$color2: #5960cb;
$color3: #fe806c;
$color4: #c6ebf1;

$color5:#717171;
$color6:#2192D9;
$color7:#c299fc;
$color8:#424040;
$color9:#889299;
$color10:#F08019;

$color2-v1: #8489c9;

$default1:#000;
$default2:#fff;




